/* .image-wrapper {
  display: flex;
  flex-wrap: wrap;
} */

.image-wrapper img {
  /* flex: 1 0 calc(33.33% - 10px);
  margin: 20px;
  max-width: 250px; */
  height: 125px;
  border-radius: 5px;
  /* min-width: 250px; */
  /* min-height:250px; */
  /* width: auto;
  height: auto; */
}

/* #cat-container {
  position: absolute;
  bottom: 0;
}

.cat-fact {
  font-family: cursive;
  border: 5px solid black;
  font-weight: bold;
  font-size: 18px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */